*{
  margin: 0;
  padding: 0;
}
 body {
    background:#86F1E7;
    font-family: Arial, sans-serif;
  }
  header{
    padding-top: 20px;
    padding-bottom: 5px;
  }
  img{
    width: 100%;
}
.logo{
  width:10%;
  height:90px; 
}
header{
  background-color: #020111;
}
nav{
    display: flex;
    align-items: center;
    justify-content:right;
    font-weight: bold;
    margin: auto;
}
li{
    padding: 0px 30px;
    display: inline-block;
    font-size: 20px;    
    background-color: #3669A7;    
}
a{
    text-decoration: none;
    color: white;
}
li:hover{    
    background-color: #84A7CD;
}
  h1 {
    margin: 0;
  }
  th {
    background-color: #fcd670;
    color: #fff;
  }
  select{
    border: none;
    width: 100%;
    font-size: 15px;
    outline: none;
  }
  .botones{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .botones button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botones button:hover {
    background-color: #555;
  }
  footer{
    padding-top: 100px;
    color: white;
  }
  .diseño {
    padding-top: 5px;
    padding-bottom: 5px;
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEE2B4;
  }