h1{
  margin: 0;
}
th{
  background-color: #fcd670;
  color: #fff;
}
select{
  border: none;
  width: 100%;
  font-size: 15px;
  outline: none;
}
.botones{
  padding-top: 10px;
  padding-bottom: 10px;
}
.botones button {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.botones button:hover {
  background-color: #555;
}
footer{
  padding: 70px 10px 10px 10px;
  color: white;
}