*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(233,235,238);
    font-family: Arial, sans-serif;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.tbCuerpo{
    background: #f4f4f4;
    margin: 0px auto; 
    width: 95%; 
    border-radius: 5px;
}
.tbCuerpo th{
    background-color: #fcd670;
    padding-top: 25px;
    width: 50%;
    text-align: right;
}
.tbCuerpo input{
    color:#2e3131;
    text-align: center;
    width: 48%;
    outline: none;
    border-color: black;
    border-radius: 1px;
}
select{
    text-align: center;
    border-radius: 2px;
    width: 50%;
    font-size: 15px;
    outline: none;
}
.botones {
    padding-top: 10px;
    padding-bottom: 10px;
}
.botones button{
    display: inline-block;
    background-color: #00b5cc;
    color: black;
    padding: 10px 20px;
    border-color: #e8e8e8;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.botones button:hover {
    background-color: #1e8bc3;
}
footer{
    padding: 70px 10px 10px 10px;
    color: white;
}
.diseño {
    padding-top: 5px;
    padding-bottom: 5px;
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEE2B4;
    text-align: center;
}
.info{
    padding:20px 10px;
  }
#banner{
    padding: 15px 5px 0px 5px;
    width: 95%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.logo{
    width:10%;
    height:100px;
}