*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: auto;
}
header{
    background-color: #020111;
}
img{
    width: 100%;
}
main{
    margin: auto;
    width: 90%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:right;
    font-weight: bold;
    margin: auto;
}
li{
    padding: 0px 30px;
    display: inline-block;
    font-size: 20px;    
    background-color: #3669A7;    
}
a{
    text-decoration: none;
    color: white;
}
li:hover{    
    background-color: #84A7CD;
}
h1{
    padding: 20px 30px;
    text-align: center;
}
h2{
    display: inline;
}
.buscar{
    padding: 30px 0px ;
}
.table-style {
    padding-top: 100px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.table-style thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
}

.table-style tbody td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table-style tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.encabeazdo_tabla{
    text-align: center;
}
button{
    padding: 5px 10px;
    font-size: 16px;
}
.Registrar{
    margin-top: 20px;
    margin-left: 50%;
    margin-bottom: 20px;
}